<div class="container__big__card">
  <div class="big-card__photo">
    <img src="{{ photoCover }}" alt="" height="200px" width="" />
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">{{ cardTitle }}</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum harum quo,
      voluptatibus consectetur ducimus facilis officiis repellendus mollitia
      labore odit quam eius explicabo accusantium, deserunt nesciunt impedit
      nihil dolores eligendi?
    </p>
  </div>
</div>
